/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");

.toast-body {
  background: var(--theme-ui-colors-box);
}

/* HACK: Fix title color in wallet modal */
.tw-font-medium {
  color: black;
}

/* HACK: Fix title color in wallet modal */
.tw-text-lg {
  color: black;
}

.tracking-tightest {
  letter-spacing: -2px;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Montserrat", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.logo {
  font-family: "Montserrat Alternates", sans-serif;
}
